# Stellar Network Configuration
NETWORK=testnet  # testnet | mainnet | futurenet
STELLAR_RPC_URL=https://soroban-testnet.stellar.org

# Account Secret Keys (make sure they are initialized first)
SENDER_SECRET_KEY=your_sender_secret_key
RECEIVER_SECRET_KEY=your_receiver_secret_key
MEMO_ID=1234567890123456789